@use "src/app/App";
@use "src/ui/modals/CustomQuotesModal";
@use "src/settings/Settings";

.setting-item.search-provider .setting-item-control input {
	width: 100%;
	border: none;
	background: none;
	outline: none;
	box-shadow: none;
	text-align: right;
}
